.git/

.DS_Store
Thumbs.db
desktop.ini
*.swp
*.swo

BraveSoftware/
akonadi/
chromium-flags.conf
edge-flags.conf
pulse/
dconf/

.baloo* 
.kactivitymanagerdrc
kdeconnect/
ksmserverrc
plasmashellrc
plasma-localerc
kglobalshortcutsrc
kwin*.json
kconf_updaterc
kdeglobals
kded5rc
ktimezonedrc
kwalletrc
konsolerc
konsolesshconfig
powermanagementprofilesrc
specialmailcollectionsrc
emaildefaults
emailidentities
ak*rc

node_modules/
dist/
target/
bin/
obj/
*.lock
*.log

*.py[cod]
venv/
.env

kitty/cache/
kitty/tmp/

waybar/cache/
waybar/tmp/
wlogout/cache/
wlogout/tmp/
hypr/
rofi/
wlogout/
systemd/
nwg-dock-hyprland/
waypaper/
xsettingsd/

*.conf
*.toml
*.sh

